@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
 
:root {
    font-family: 'Ubuntu', sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.logo {
    justify-content: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: blue;
}

.start {
    font-size: 2.8em;
}

.menu a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 8px; 
}
.menu a:hover {
    color: #edc02d; 
}

.clock {
    font-size: xx-large;
    color: rgba(255, 230, 0, 0.712);

}

.button {
    padding: 0.35em 1.2em;
    border: 0.1em  rgb(241, 239, 239);
    margin: 0 0.3em 0.3em 0;
    border-radius: 15px;
    color: rgb(153, 0, 255);
    text-align: center;
    transition: color 0.7s;
    background-color: #ffdd00;
    height: 2rem;
}
.button:hover {
    color: #00a6ff;
    background-color:#FFFFFF;
    cursor: pointer;
}

.button2 {
    background-color: rgb(214, 214, 214);
    width: 250px;
    height: 35px;
    padding: 0.35em 1.2em;
    border: 0.2em solid gold ;
    margin: 0 0.3em 0.3em 0;
    margin-left: 40px;
    border-radius: 15px;
    color: rgba(43, 43, 43, 0.904);  
}
.button2:hover {
    color: black;
    background-color: rgb(214, 255, 253);
    cursor: pointer;
}

.button3 {
    padding: 0.7em 1.6em;
    border: 0.15em solid #edc02d;
    margin: 0 0.3em 0.3em 0;
    border-radius: 40px;
    color: #5a5959;
    font-size: 1.1em;
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button3:hover {
    color: white;
    background-color: #17c5ff;
    cursor: pointer;
}

.banner {
    background-image: url(../img/firari.gif);
    background-size: cover;
    background-position: center;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgba(255, 255, 255, 0.945);
}

.banner .social img {
    imag
    height: 50px;
    width: 50px;
}

.services-list {
    margin: auto;
}

article h3 {
    color: #00a6ff; 
}
.serve {
    display: block;
    color: #7c7b78;
    text-align: center;
}
#services {
    font-size: 3em;
    color: rgb(37, 37, 37);
    padding-top: 15px;
}
#para {
    color: #7c7b78;
    max-width: 600px;
    line-height: 2em;
}
.services-card {
    text-align: start;

}
.services-card p {
    color: #757474;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 20pt;
    font-size: 0.9rem;
}
.services-list img {
    width: 100%;
    margin: auto;
    border-radius: 6px;
}

.price {
    background-color:#fafafae8;
    padding: 10px;
}


main {
    text-align: center;
}
.gift-list {
    text-align: left;
}
#pricing {
    font-size: 40px; 
}
article.pricing-card h4 {
    color: #0099ff;
    margin: 30px;
}
.pricing-card {
    background-color: white;
    border: 0.1em solid #FFFFFF;
    border-top-color: #edc02d;
    border-top-width: 5px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
}
.pricing-card p {
    color: #6e6e6e;
    font-size: 1em;
    text-align: center;
    line-height: 22pt;
}
.pricing-card a {
    font-size: 1.7em;
    color: black;

}
.pricing-card h4 {
    font-size: 1.5em;
}

.offers {
    color: white;
    background-image: url(../img/how-to-clean.jpeg);
    max-width: 1200px;
    padding: 10px;
}
.offer-list { 
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(58, 58, 58, 0.644);
    color: white;
}
.offer {
    max-width: 300px;
    max-height: 100%;
    margin: auto;
    padding: 10px;  
}
.offer h5 {
    font-size: 1.3rem;
}
.offer p {
    font-size: inherit;
    color: #e1e1e1;
    line-height: 22pt;
}
.offers h4 {
    font-size: 2rem;
}
.think {
    background-color: #008cff;
    min-height: 250px;
    max-width: 1200px;
    padding: 50px;
}
.think h2 {
    color: white;
    font-size: 2rem;
}
.think p {
    color: #333333;
}
.think .button {
    width: 10rem;
    height: 2rem;
    margin: 20px;
}
#clubs {
    font-size: 2rem;
    color: #3a3a3a;
}
.club-list {
    text-align: center;
    padding: 5px;
    margin: auto;
}
.club {
    background-color: white;
    border: 0.1em solid #FFFFFF;
    border-top-color: #edc02d;
    border-top-width: 5px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px;
}
.club p {
    color: #7c7b78
}
#deals {
    font-size: 2.8rem;
    text-align: center;
    min-width: 320px;
    margin: 100px;
    margin-bottom:-3px;
    color: #3a3a3a;
}
#get {
    color: #7c7b78;
    font-size: 1.2em;
    padding-bottom: 60px;
}
.gift-list {
    margin-bottom: 30px ;
}

.gift {
    text-align: start;
    background-color: white;
    border: 0.1em solid #FFFFFF;
    border-top-color: #edc02d;
    border-top-width: 5px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.1);
    padding: 30px;
    margin: 10px;
}
.gift h3 {
    color: black
}
.gift b {
    font-size: 1.5em;
    color: #0099ff
}
.gift p {
    color: #7c7b78;
    line-height: 22pt;
}

/*carousel */
.carousel3 .img1, .img2, .img3, .img4  {
    margin-right: 5px;
    max-width: 350px;
    max-height: 400px;
    border-radius: 5px;
    border: 0.2px solid black;
}
@media (max-width: 830px) {
    .carousel3 .img2, .img3, .img4 {
        display: none;
    }
}
.carousel-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
.prev, .next {
    margin: 20px 20px;
    width: 110px;
    height: 30px;
    font-size: 12px;
    border-width: 2px;
    border-color: orange;
    border-radius: 5px;
}
    
.prev:hover,
.next:hover {
    background-color: rgba(255, 217, 0, 0.623);
    transition-duration: 2s;
}


.contact {
    background-image: url(../img/nissan-dark.jpg);
    background-size: cover;
    background-position: absolute;
    display: block;
    min-height: 900px;
    text-align: left;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}


.contact a {
    font-weight: bold;
}
.contact h2, p, a, b {
    color: white;
}

/* forma style */
.input-info div {
        margin-bottom: 20px;
    }
    
.input-info input {
        border-width: 0;
        background-color: rgb(211, 212, 212);
        width: 340px;
        height: 40px;
        border-radius: 50px;
        font-size: 13px;
        font-family: monospace;
        padding-left: 15px;
    }

.forma {
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 30px;
    width: 380px;
    min-height: 350px;
    padding: 10px;
    margin-left: -5px;
}

.copy-right  {
    color: #808080;
    padding-top: 25px;
}

/* Feedback styling */
.feed {
    margin: 30px;
}
.feed h4 {
    font-size: xx-large;
    color: rgb(36, 36, 36);
}
.feedback {
    max-width: 600px;
    margin: auto;
}
.feed .feedimg {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 40px;
}
.feed p {
    color: #7c7b78;
    line-height: 22pt;
    justify-items: center;

}
 .map {
     margin-top: 10px;
     width: 390px;
     height: 200px;
 }

/* svg icon styling */
 .club svg {
    color: #0076e0;
    width: 70px;
    height: 70px;
 }
 .offer svg {
    color: gold;
    width: 60px;
    height: 60px;
 }
.w-text-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* screen 740px & more */
@media (min-width: 740px) {
    header nav {
        display: flex;
    }
    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
    footer nav {
        display: flex;
    }
    footer nav .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
    #para {
        color: #7c7b78;
        max-width: 600px;
        margin-left: 300px;
        line-height: 2em;
    }
    .services-list {
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 18px;
    }
    .services-list img {
        max-width: 300px;
        height: auto;
        margin: auto;
    }
    .pricing-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .offer-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    #clubs {
        font-size: 3rem;
        color: #3a3a3a;
    }
    .club-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .gift-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    
    .adrs {
        max-width: 500px;
        margin-left: 30px;
        line-height: 20pt;
        font-size: 1.1rem;
    }
    /* .contact {
        background-image: url(../img/nissan-dark.jpg);
        display: grid;
        max-width: 1200px;
        grid-template-columns: 550px 550px;
        grid-template-rows: 300px 150px;
        background-size: cover;
        background-position: absolute;
        min-height: 600px;
        text-align: left;
        padding: 20px;
        margin: auto;
        margin-bottom: 20px;
    } */
   
    /* forma style */
    .input-info div {
        margin-bottom: 20px;
    }
    
    .input-info input {
        border-width: 0;
        background-color: rgb(211, 212, 212);
        width: 450px;
        height: 40px;
        border-radius: 50px;
        font-size: 13px;
        font-family: monospace;
        padding-left: 15px;
    }

    
    .forma {
        background-color: rgba(255, 255, 255, 0.966);
        border-radius: 30px;
        width: 500px;
        min-height: 400px;
        padding: 30px;
    }
    .forma {
        max-width: 600px;
        margin-top: 70px;
        margin-left: 90px;

    }
    .carousel3 .img1, .img2, .img3, .img4 {
        display: inline-flex;
        max-width: 290px;
        max-height: 290px;
        border-radius: 5px;
        border: 0.2px solid black;
    }
    .map {
        /* margin-top: 10px;
        margin-left: -10px; */
        width: 600px;
        height: 200px;
    }
    .button2 {
        padding: 0.35em 1.2em;
        border: 0.2em solid gold ;
        margin: 0 0.3em 0.3em 0;
        margin-left: 100px;
        border-radius: 15px;
        color: rgba(43, 43, 43, 0.904)
        background-color: rgb(214, 214, 214);
        width: 250px;
        height: 35px;
    }

    .button2:hover {
        color: black;
        background-color: rgb(214, 255, 253);
        cursor: pointer;
    }
}

@media (min-width: 1000px) {
    .contact {
       display: grid;
        max-width: 1200px;
        grid-template-columns: 550px 550px;
        grid-template-rows: 300px 150px;
        background-size: cover;
        background-position: absolute;
        min-height: 600px;
        text-align: left;
        padding: 20px;
        margin: auto;
        margin-bottom: 20px;
    }
}
